@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Noto+Sans:wght@400;700&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body{
  background-color: #EDEFF2;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.section-header{
  text-align: center;
  margin: 20px 0;
}

.section-header h2{
  font-size: 2.5rem;
  font-weight: 600;
  color: #3D3D3F;
  background: linear-gradient(#cb252a, #2f2e7a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}


.portfolio .portfolio-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center;
}
.portfolio .portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-flters li:hover, .portfolio .portfolio-flters li.filter-active {
  color: white;
  background-color: #cb252a;
  padding: 10px;
  border-radius: 3px;
}
.portfolio .portfolio-flters li:first-child {
  margin-left: 0;
}
.portfolio .portfolio-flters li:last-child {
  margin-right: 0;
}
@media (max-width: 575px) {
  .portfolio .portfolio-flters li {
    font-size: 14px;
    margin: 0 5px;
  }
}
.portfolio .portfolio-item {
  position: relative;
  border: 1px solid var(--color-white);
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-item img {
  transition: all 0.3s;
}
.portfolio .portfolio-item:before {
  content: "";
  inset: 0;
  position: absolute;
  background: rgba(var(--color-secondary-rgb), 0.8);
  z-index: 2;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: auto 40px 40px 40px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  padding: 20px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-right: 50px;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: white;
  transition: 0.3s;
  line-height: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: white;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px;
}
.portfolio .portfolio-item:hover:before {
  visibility: visible;
  opacity: 1;
}
.portfolio .portfolio-item:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  inset: auto 10px 0 10px;
}

